/*
 * Globals
 */

/* Links */


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-block {
  color: #E84D4D;
  font-weight: bold;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #006063;

  font-family: Baskerville;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.cover-container {
  max-width: em;
}

.hidden {
  display: none;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  font-size: 150px;
  font-family: Impact;
  text-align: center;
  margin: 25px 25px 75px;
  /* font-weight: bold; */
}

/*
 * Footer
 */
