/*
 * Globals
 */

/* Links */


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-block {
  color: #E84D4D;
  font-weight: bold;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #006063;
  background-image: url("images/tim-mossholder-zs-PAgqgenQ-unsplash.png");
  /* background-size: contain; */
  background-repeat: repeat-y;
  background-position: center;
  font-family: "Andale Mono";

}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 25rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
  background-color: white;
  opacity: 60%;
  color: black;
}
h3 {
  font-weight: bold;
}

.cover-container {
  max-width: em;
}

.hidden {
  display: none;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  font-size: 150px;
  font-family: Impact;
  text-align: center;
  margin: 25px 25px 75px;
  /* font-weight: bold; */
}

/*
 * Footer
 */
